// BAKD Frontend Style Overrides & Variables

// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: "Open Sans", "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Main BAKD Color Scheme
// TODO: Add the correct BAKD RGBA/HEX values here
$primary: orange;
$parmary-dark: darkOrange;
$secondary: gray;
$secondaryDark: darkGray;
$accent: red;

// Header Title Sizes
$title-lg: 32px;
$title-md: 24px;
$title-sm: 18px;
$title-xs: 14px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
