// ------------------------------
// BAKD SCSS Main Styles
// ------------------------------

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// BAKD Theme Variables
@import 'theme';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Third Party Misc Styles & Library Files
@import 'vendor/import';

// Theme/Sitewide Styles
@import 'layouts/import';

// Page-Specific Styles
@import 'pages/import';

// Component Styles
@import 'components/import';

main {
    min-height: 100vh;
    
    &.wrapper.overlay:after {
        overflow: hidden;
        position: absolute;
        z-index: 11;
    }
}

.bakd-logo {
    max-width: 325px;
    width: 100%;
    height: auto;
}