footer {
    border-top: 1px solid $primary;
    position: relative;
    bottom: 0;

    .bakd-logo {
        max-width: 125px;
        width: 100%;
        height: auto;

    }

    .copy-text {
        margin-top: 34px !important;
    }

    .footy-sec.mn {
        @media(max-width: 1200px) {
            ul {
                padding: 18px 3px 12px;
            }
        }

        @media(max-width: 992px) {
            ul {
                padding: 18px 3px 4px;
            }
        }
    } 
        
    @media (max-width: 1200px) {
        .copy-text {
            margin-top: 5px !important;
        }
        
        .bakd-logo {
            display: none;
        }
    }

    @media(max-width: 768px) {
        .bakd-logo {
            display: none;
        }

        .footy-sec.mn {
            a {
                font-size: 13px;
            }

            ul {
                padding: 18px 3px 4px;
            }

            p {
                font-size: 12px;

                img {
                    max-width: 17px;
                }
            }
        }
    }
}
