header {
    background-color: $secondary;
    border-top: 2px solid $primary;
    border-bottom: 1px solid darken($secondary, 10%);
    // position: fixed;
    z-index: 10;

    .bakd-logo {
        max-width: 215px;
    }

    .forum-bar {
        float: left;
        margin-top: unset;
        width: 100%;

        li a {
            color: #222;
        }
    }

    .navbar-nav {
        .nav-item {
            a {
                color: #222;
                border-color: #222;
            }
        }
    }

    & + section {
        z-index: 9;
        // position: fixed;
        box-shadow: 1px 1px 32px -12px rgba(0, 0, 0, 0.25);
    }
}

.user-types-nav {
    a {
        color: darken($secondary, 50%);
    }
}



header .navbar-nav .nav-item a {
    color: #222;
    background: #fff;
    border-radius: 50px;
    padding: 11px 30px;
    line-height: 8px;
    font-weight: 500;
    height: unset;
    min-height: unset;
    margin: unset;
    border-color: #dadada !important;
}



header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+48,f5f5f5+48,aaaaaa+100&1+0,0.38+100 */
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,0.35) 25%, rgba(170,170,170,0.15) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(245,245,245,0.35) 25%,rgba(170,170,170,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(245,245,245,0.35) 25%,rgba(170,170,170,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#61aaaaaa',GradientType=0 ); /* IE6-9 */
}

.bakd-logo {
    max-width: 325px;
    width: 100%;
    height: auto;
}
