body {
    height: 100%;
    width: 100%;
    min-width: 320px;
    display: block;
    padding: 0 0 80px 0;
}

.checkbox-label {
    span {
        float: left;
        display: inline;
    }
    small {
        float: right;
        display: inline;
        &:hover,
        &:active,
        &:focus {
            transition: opacity 0.2s ease-in;
            opacity: 0.85;
            cursor: pointer;
        }
    }
}

.invalid-feedback {
    color: red;
    font-size: 12px;
    position: absolute;
    transition: all $transition-speed ease;
}

.form-group.row {
    margin-bottom: 1rem;
}

.forum-links ul li {
    padding: 20px 8px 20px 3px;

    .active,
    &:active,
    &:hover,
    &:focus {
        border-color: $primary;
        color: $primary;
        transition: all $transition-speed ease;
        padding: 20px 8px 20px 3px;
    }
}

.row {
    & + div {
        padding-left: none;
        padding-right: none;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: unset;
    padding-right: unset;
}

.cm-logo {
    width: 100%;
    padding: 20px 25px;
    margin-bottom: 120px;
    float: unset;
    text-align: center;

    img.bakd-logo {
        float: unset;
        margin: 20px auto 50px;
        text-align: center;
    }
}

.btn-campaign-cta {
    font-weight: 700;
    padding: 9px 30px;
    border: 1px solid #dadada;
    white-space: nowrap;

    @media(max-width: 768px) {
        display: none !important;
    }
}

.btn-primary {
    color: #ffffff;
    background-color: $primary;
    border-color: $primary;
}

main {
    min-height: 100vh;

    &.wrapper.overlay:after {
        overflow: hidden;
        position: absolute;
        z-index: 11;
    }
}

.form-group {
    label {
        padding-right: 15px;
    }
}

.user-account-settingss {
    opacity: unset;
    visibility: inherit;
    top: 0px;
    border-top: 1px solid #e5e5e5;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        background: none;
        border: none;
    }
}

