body {
    height: 100%;
    width: 100%;
    min-width: 320px;
    display: block;
}

.checkbox-label {
    span {
        float: left;
        display: inline;
    }
    small {
        float: right;
        display: inline;
        &:hover,
        &:active,
        &:focus {
            transition: opacity 0.2s ease-in;
            opacity: 0.85;
            cursor: pointer;
        }
    }
}

.invalid-feedback {
    color: red;
    font-size: 12px;
    position: absolute;
    transition: all $transition-speed ease;
}

main {
    min-height: 100vh;

    &.wrapper.overlay:after {
        overflow: hidden;
        position: absolute;
        z-index: 11;
    }
}

.bakd-logo {
    max-width: 325px;
    width: 100%;
    height: auto;
}
